Repository AtB-AS/atb-bff, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gorandalum, @rosvik, @marius-at-atb, @KristianSelnas, @jorelosorio, @tormoseng

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global
* @gorandalum @rosvik @marius-at-atb

# Mobility
**/mobility @gorandalum @KristianSelnas @marius-at-atb

# GH actions
/.github/workflows/ @gorandalum @jorelosorio @marius-at-atb

# Tests
/test/ @gorandalum @rosvik @marius-at-atb @tormoseng

# No code owners for generated files
src/graphql/journey/journeyplanner-types_v3.ts
src/graphql/mobility/mobility-types_v2.ts
src/graphql/vehicles/vehicles-types_v1.ts
*-gen.ts

fix: Add extra properties from Nivel
  src/service/impl/mobility/index.ts
  src/service/impl/mobility/schema.ts
  src/service/types.ts
Owners: @gorandalum, @KristianSelnas, @marius-at-atb, @rosvik

fix: Add extra properties from Nivel (#299)
  src/service/impl/mobility/index.ts
  src/service/impl/mobility/schema.ts
  src/service/types.ts
Owners: @gorandalum, @KristianSelnas, @marius-at-atb, @rosvik

fix: issue with missing unit for scale in geocoder
  src/service/impl/geocoder.ts
  src/types/geocoder.d.ts
Owners: @gorandalum, @rosvik, @marius-at-atb

fix: Use correct Nivel url for vehicle lookup
  src/service/impl/mobility/index.ts
Owners: @gorandalum, @KristianSelnas, @marius-at-atb

fix: Use correct Nivel url for vehicle lookup (#302)
  src/service/impl/mobility/index.ts
Owners: @gorandalum, @KristianSelnas, @marius-at-atb

fix station-ids + prettier
  test/src/config/configuration.ts
  test/src/k6.ts
  test/src/utils/headers.ts
  test/src/utils/log.ts
  test/src/utils/utils.ts
  test/src/v1/departures/departures.ts
  test/src/v1/departures/index.ts
  test/src/v1/geocoder/index.ts
  test/src/v1/journey/index.ts
  test/src/v1/journey/journey.ts
  test/src/v1/servicejourney/index.ts
  test/src/v1/servicejourney/servicejourney.ts
  test/src/v1/testData/testData.ts
  test/src/v1/types/index.ts
  test/src/v1/v1Scenario.ts
  test/src/v2/departures/departures.ts
  test/src/v2/departures/favorites.ts
  test/src/v2/departures/index.ts
  test/src/v2/departures/stops.ts
  test/src/v2/mobility/index.ts
  test/src/v2/mobility/scenario.ts
  test/src/v2/mobility/stations.ts
  test/src/v2/mobility/vehicles.ts
  test/src/v2/servicejourney/index.ts
  test/src/v2/servicejourney/servicejourney.ts
  test/src/v2/testData/tripsFilters.ts
  test/src/v2/trips/index.ts
  test/src/v2/trips/scenario.ts
  test/src/v2/trips/trips.ts
  test/src/v2/types/departure.ts
  test/src/v2/types/index.ts
  test/src/v2/types/servicejourney.ts
  test/src/v2/types/testData.ts
  test/src/v2/types/trips.ts
  test/src/v2/v2Scenario.ts
  test/src/v2/vehicles/index.ts
  test/src/v2/vehicles/servicejourney.ts
Owners: @gorandalum, @rosvik, @marius-at-atb, @tormoseng

Support destinationDisplay on DepartureLineInfo
  src/api/departures-grouped/schema.ts
  src/service/impl/departures-grouped/journey-gql/departure-group-by-nearest.graphql-gen.ts
  src/service/impl/departures-grouped/journey-gql/departure-group.graphql
  src/service/impl/departures-grouped/journey-gql/departure-group.graphql-gen.ts
  src/service/impl/departures-grouped/utils/grouping.ts
  src/service/impl/departures/utils/favorites.ts
  src/service/types.ts
Owners: @gorandalum, @rosvik, @marius-at-atb

fix: Nivel report updates
  src/api/mobility/schema.ts
  src/service/impl/mobility/index.ts
  src/service/types.ts
  src/utils/fetch-client.ts
Owners: @gorandalum, @KristianSelnas, @marius-at-atb, @rosvik

fix: Nivel report updates (#304)
  src/api/mobility/schema.ts
  src/service/impl/mobility/index.ts
  src/service/types.ts
  src/utils/fetch-client.ts
Owners: @gorandalum, @KristianSelnas, @marius-at-atb, @rosvik

Fix tests, re-add lineName check
  src/service/impl/departures-grouped/utils/__tests__/__snapshots__/grouping.test.ts.snap
  src/service/impl/departures-grouped/utils/__tests__/fixture-venue-layer-favorites-via.json
  src/service/impl/departures-grouped/utils/__tests__/grouping.test.ts
  src/service/impl/departures-grouped/utils/grouping.ts
Owners: @gorandalum, @rosvik, @marius-at-atb

Add deprecation info for lineName
  src/api/departures-grouped/schema.ts
  src/api/departures/schema.ts
Owners: @gorandalum, @rosvik, @marius-at-atb

Move and fix mapToLegacyLineName
  src/service/impl/departures-grouped/utils/grouping.ts
  src/service/impl/departures/utils/converters.ts
  src/service/impl/departures/utils/favorites.ts
  src/service/impl/trips/converters.ts
Owners: @gorandalum, @rosvik, @marius-at-atb

Ensure via format for destinationDisplay
  src/service/impl/departures-grouped/utils/grouping.ts
  src/service/impl/departures/utils/converters.ts
Owners: @gorandalum, @rosvik, @marius-at-atb

Fix lint
  src/service/impl/departures-grouped/utils/grouping.ts
  src/service/impl/departures/utils/converters.ts
Owners: @gorandalum, @rosvik, @marius-at-atb

Fix test
  src/service/impl/departures-grouped/utils/__tests__/__snapshots__/grouping.test.ts.snap
Owners: @gorandalum, @rosvik, @marius-at-atb
