Repository AtB-AS/atb-bff, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rosvik, @marius-at-atb, @Dahly96, @reidzeibel, @tormoseng

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global
* @rosvik @marius-at-atb

# Mobility
**/mobility @rosvik @marius-at-atb @Dahly96

# GH actions
/.github/workflows/ @rosvik @reidzeibel

# Tests
/test/ @rosvik @marius-at-atb @tormoseng

# No code owners for generated files
src/graphql/journey/journeyplanner-types_v3.ts
src/graphql/mobility/mobility-types_v2.ts
src/graphql/vehicles/vehicles-types_v1.ts
*-gen.ts

feat: Added endpoint for fetching DatedServiceJourney
  .graphqlrc.yml
  src/api/servicejourney/index.ts
  src/api/servicejourney/schema.ts
  src/api/trips/index.ts
  src/api/trips/schema.ts
  src/config/env.ts
  src/graphql/journey/journeyplanner-types_v3.ts
  src/service/impl/service-journey/index.ts
  src/service/impl/service-journey/journey-gql/dated-service-journey.graphql
  src/service/impl/service-journey/journey-gql/dated-service-journey.graphql-gen.ts
  src/service/impl/trips/booking-utils.ts
  src/service/impl/trips/index.ts
  src/service/impl/trips/journey-gql/trip.graphql-gen.ts
  src/service/impl/trips/trips.ts
  src/service/interface.ts
Owners: @rosvik, @marius-at-atb

style: Fixed linting and removed unnecessary console.logs
  src/api/servicejourney/index.ts
  src/api/servicejourney/schema.ts
  src/api/trips/index.ts
  src/api/trips/schema.ts
  src/config/env.ts
  src/service/impl/service-journey/index.ts
  src/service/impl/trips/booking-utils.ts
  src/service/impl/trips/index.ts
  src/service/impl/trips/trips.ts
  src/service/interface.ts
Owners: @rosvik, @marius-at-atb

test: line name change
  test/src/v2/testData/testData.ts
Owners: @rosvik, @marius-at-atb, @tormoseng

test: line name change (#407)
  test/src/v2/testData/testData.ts
Owners: @rosvik, @marius-at-atb, @tormoseng

fix: Removed forgotten fallback URL for local dev
  src/config/env.ts
Owners: @rosvik, @marius-at-atb

feat: Added endpoint for fetching DatedServiceJourney (#406)
  .graphqlrc.yml
  src/api/servicejourney/index.ts
  src/api/servicejourney/schema.ts
  src/service/impl/service-journey/index.ts
  src/service/impl/service-journey/journey-gql/dated-service-journey.graphql
  src/service/impl/service-journey/journey-gql/dated-service-journey.graphql-gen.ts
  src/service/impl/trips/trips.ts
  src/service/interface.ts
Owners: @rosvik, @marius-at-atb

fix: Fixes missing stopplaces for ferry with multileg journeys
  src/api/stop-places/index.ts
  src/service/impl/stop-places/index.ts
  src/service/interface.ts
Owners: @rosvik, @marius-at-atb

style: fixed lint errors
  src/api/stop-places/index.ts
  src/service/interface.ts
Owners: @rosvik, @marius-at-atb

fix: Narrow non-transit queries for bike rentals to city bikes
  src/service/impl/trips/journey-gql/trip.graphql-gen.ts
Owners: none

fix: Add in .graphql as well, obviously
  src/service/impl/trips/journey-gql/trip.graphql
  src/service/impl/trips/journey-gql/trip.graphql-gen.ts
Owners: @rosvik, @marius-at-atb

fix: Narrow non-transit queries for bike rentals to city bikes (#409)
  src/service/impl/trips/journey-gql/trip.graphql
  src/service/impl/trips/journey-gql/trip.graphql-gen.ts
Owners: @rosvik, @marius-at-atb

feat: Added an endpoint for the Entur distances API
  src/api/stop-places/index.ts
  src/api/stop-places/schema.ts
  src/service/impl/stop-places/index.ts
  src/service/interface.ts
Owners: @rosvik, @marius-at-atb

style: Fixed lint
  src/api/stop-places/index.ts
  src/api/stop-places/schema.ts
  src/service/impl/stop-places/index.ts
  src/service/interface.ts
Owners: @rosvik, @marius-at-atb

docs: Added comment about POC endpoint
  src/api/stop-places/index.ts
Owners: @rosvik, @marius-at-atb

style: Fixed lint error
  src/api/stop-places/index.ts
Owners: @rosvik, @marius-at-atb

feat: Added an endpoint for the Entur distances API (#410)
  src/api/stop-places/index.ts
  src/api/stop-places/schema.ts
  src/service/impl/stop-places/index.ts
  src/service/interface.ts
Owners: @rosvik, @marius-at-atb

feat: stop signal invite key
  src/api/enrollment/index.ts
  src/config/env.ts
Owners: @rosvik, @marius-at-atb

feat: stop signal invite key (#411)
  src/api/enrollment/index.ts
  src/config/env.ts
Owners: @rosvik, @marius-at-atb

fix: Fixed bug where distances were validated as object, not array
  src/api/stop-places/types.ts
  src/service/impl/stop-places/index.ts
Owners: @rosvik, @marius-at-atb

fix: Fixed bug where distances were validated as object, not array (#412)
  src/api/stop-places/types.ts
  src/service/impl/stop-places/index.ts
Owners: @rosvik, @marius-at-atb

fix: Changed the Entur endpoint for distances
  src/api/stop-places/schema.ts
  src/api/stop-places/types.ts
  src/service/impl/stop-places/index.ts
Owners: @rosvik, @marius-at-atb

fix: Fixed lint, and removed unnecessary console.log
  src/api/stop-places/schema.ts
  src/api/stop-places/types.ts
  src/service/impl/stop-places/index.ts
Owners: @rosvik, @marius-at-atb

docs: Added a little info about the Entur API
  src/api/stop-places/types.ts
  src/service/impl/stop-places/index.ts
Owners: @rosvik, @marius-at-atb

fix: Changed the Entur endpoint for distances (#413)
  src/api/stop-places/schema.ts
  src/api/stop-places/types.ts
  src/service/impl/stop-places/index.ts
Owners: @rosvik, @marius-at-atb

fix: Removed from-stopplace from to-stopplace suggestions
  src/service/impl/stop-places/index.ts
Owners: @rosvik, @marius-at-atb

fix: Removed from-stopplace from to-stopplace suggestions (#414)
  src/service/impl/stop-places/index.ts
Owners: @rosvik, @marius-at-atb

feat: Add description for quays so we can add in trip/departure details
  src/graphql/journey/journeyplanner-types_v3.ts
  src/service/impl/fragments/journey-gql/quays.graphql
  src/service/impl/fragments/journey-gql/quays.graphql-gen.ts
  src/service/impl/fragments/journey-gql/trips.graphql
  src/service/impl/fragments/journey-gql/trips.graphql-gen.ts
Owners: @rosvik, @marius-at-atb

feat: Add description for quays so we can add in trip/departure details (#415)
  src/graphql/journey/journeyplanner-types_v3.ts
  src/service/impl/fragments/journey-gql/quays.graphql
  src/service/impl/fragments/journey-gql/quays.graphql-gen.ts
  src/service/impl/fragments/journey-gql/trips.graphql
  src/service/impl/fragments/journey-gql/trips.graphql-gen.ts
Owners: @rosvik, @marius-at-atb

fix: Removed hardcoding for NFK, so it can be used by others
  src/api/stop-places/schema.ts
  src/service/impl/stop-places/index.ts
  src/service/interface.ts
  src/service/types.ts
Owners: @rosvik, @marius-at-atb

fix: Removed orgId again from the request, and fetches it from an envvar instead
  src/api/stop-places/schema.ts
  src/config/env.ts
  src/service/impl/stop-places/index.ts
  src/service/impl/stop-places/utils.ts
  src/service/interface.ts
  src/service/types.ts
  src/utils/get-org.ts
Owners: @rosvik, @marius-at-atb

style: Fixed linting errors
  src/service/impl/stop-places/index.ts
  src/service/impl/stop-places/utils.ts
  src/service/types.ts
  src/utils/get-org.ts
Owners: @rosvik, @marius-at-atb

refactor: Simplified org-types
  src/service/impl/stop-places/utils.ts
  src/service/types.ts
  src/utils/get-org.ts
Owners: @rosvik, @marius-at-atb

style: Fix linting errors
  src/service/types.ts
  src/utils/get-org.ts
Owners: @rosvik, @marius-at-atb

fix: Removed hardcoding for NFK, so it can be used by other orgs (#416)
  src/config/env.ts
  src/service/impl/stop-places/index.ts
  src/service/impl/stop-places/utils.ts
  src/service/types.ts
  src/utils/get-org.ts
Owners: @rosvik, @marius-at-atb

test: test data change
  test/src/v1/testData/testData.ts
Owners: @rosvik, @marius-at-atb, @tormoseng

test: test data change (#417)
  test/src/v1/testData/testData.ts
Owners: @rosvik, @marius-at-atb, @tormoseng

feat: migrate to graphql-ws
  package-lock.json
  package.json
  src/graphql/graphql-client.ts
Owners: @rosvik, @marius-at-atb
